{% extends 'base.html.twig' %}

{% block title %}Acheteur{% endblock %}

{% block body %}
    <h1>Acheteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acheteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acheteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ acheteur.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ acheteur.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ acheteur.email }}</td>
            </tr>
            <tr>
                <th>Id_ville</th>
                <td>{{ acheteur.idVille }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_acheteur_index') }}">back to list</a>

    <a href="{{ path('app_acheteur_edit', {'id': acheteur.id}) }}">edit</a>

    {{ include('acheteur/_delete_form.html.twig') }}
{% endblock %}
