{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}

    <section class="vh-100 gradient-custom">
            <div class="container-connexion">
                <div class="centered-element">
                    <div> <!-- class="container py-5 h-100">-->
                        <div> <!--class="row d-flex justify-content-center align-items-center h-100">-->
                            <!--<div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
                                <div> <!-- class="card bg-dark text-white" style="border-radius: 1rem;">-->
                                    <div class="card-body p-5 text-center">

                                        <div class="mb-md-5 mt-md-4 pb-5">
                                            <div>
                                                <h1>Successful Booking !</h1>
                                                <p><a href="{{ path('app_home') }}">Back to home</a></p>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    {#<h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Id_paiement</th>
                <th>Id_acheteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.date }}</td>
                <td>{{ commande.idPaiement }}</td>
                <td>{{ commande.idAcheteur }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>#}
{% endblock %}
