{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div id="contactForm">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.firstname) }}</div>
        <div class="col">{{ form_row(form.lastname) }}</div>
        <div class="col">{{ form_row(form.phone) }}</div>
        <div class="col">{{ form_row(form.email) }}</div>
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        <button class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
